<html>
<head>
    <title>RTH</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Listan</h1>
    <form method="get">
    {% for item in items %}
        <div>
            <input type="checkbox" id="{{ item['thing'] }}" name="check" value="{{ item['thing'] }}^{{ item['count'] }}" />
            <label>{{ item['thing'] }}</label>
        </div>
    {% endfor %}
    <div>
        <button type="submit">Update</button>
    </div>
    </form>
    <a href="select.html">Add things...</a>
</body>
</html>
