<html>
<head>
    <title>RTH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    {% include 'styles.css' %}
    </style>
</head>
<body>
    <h1>Listan</h1>
    <a class="menu" href="select.html">+ Lägg till saker...</a>
    <form method="get">
    {% for cat in cats %}
        <h2>{{ cat['name'] }}</h2>
        {% for item in cat['items'] %}
        <div>
            <input
                type="checkbox"
                onchange="this.form.submit()"
                id="{{ item['thing'] }}"
                name="check"
                value="{{ item['thing'] }}" />
            <label for="{{ item['thing'] }}">{{ item['thing'] }}</label>
            {% if item.get('comment') %}
            <i>{{ item['comment'] }}</i>
            {% endif %}
            <a href="{{ item['thing'] }}/comment.html">...</a>
        </div>
        {% endfor %}
    {% endfor %}
    <div>
        <input type="submit" value="Uppdatera" />
    </div>
    </form>
</body>
</html>
